body { background:#222C8D url('../images/holiday/halloweenbg.jpg');background-size: cover;background-repeat: no-repeat; }
#logoholder { background:transparent; }
#headerlogo { text-shadow: 2px 2px 2px #000;color:#fff; }
#headertop { background-color:transparent; }
#headernav ul { background-color:#17384F; }
#headernav ul li a { color:white;font-weight:bold;text-decoration:none; }
#headernav ul li a:hover { background-color:#000 !important; }
.navbar-default { background:transparent url('../images/trans50.png'); }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {color: #DFF3F9;}
.navbar-collapse .navbar-right li a:hover { background:transparent; } 
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background:#2F78AC;}
.navbar-default .navbar-toggle .icon-bar {background: white;}
.lvuitemlbMe { }
.lvuitemlbMeSel {  }
#txNumberOfUser {  }
.lvuitemMe, .lvuitemMeAway {  }
#nicklistinfo1 { color:#fff;background:transparent url('../images/trans50.png'); }
#nicklistinfo1 a { color:#fff; }
#nicklistinfo2 { background:transparent url('../images/trans50.png');color:#fff; }
.channame_nowchatting { color:#fff;text-shadow: 2px 2px 2px #222c8d; }
.chanlabel { color:#fff;text-shadow: 2px 2px 2px #222c8d;font-weight:bold; }
#statusareaholder, #chatareaholder { border:1px solid #222c8d !important;background:transparent url('../images/transwhite90.png') !important; }
#chatnicklistholder { border:1px solid #222c8d !important;background:transparent url('../images/transwhite90.png') !important; }
#chatnicklist { top:5px !important; }
#txSend { border:1px solid #222c8d !important;background:transparent url('../images/transwhite90.png') !important; }
#wndSetAwayMsgContainer { background:#222c8d;border:1px solid #000; }
.awaymsgabouttext { color:#FFF; }
.awayicon_a { color:white !important;border:1px solid #ccc;background:#222C8D;padding:0 2px; }
.awayicon_a:hover { color:white; }
.awayicon_b { color:#1163CB !important;border:1px solid #1163CB;background:#fff;padding:0 2px; }
.awayicon_b:hover { color:white; }
#awayb { top:4px !important;right:7px !important; }
#whisperheader { background:#70A0B9; }
#sliderWrap {color:#333333;border:1px solid #ccc;background:#70A0B9; }
#topheaderbar { background:#70A0B9;color:white; }
#nicklistuicons { background:transparent url('../images/trans50.png');-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px; }

#whisperhistoryheader { background-color:#70A0B9; }
.whisperwindowholder { background-color:#70A0B9; }
.whisperclosebutton { color:red;background:white; }
.whisperminusbutton { color:#4CBAD8;background:white; }
.whisperclosebuttonb { color:red;background:white; }
#optionsheader, #modesheader, #accessheader, #propsheader, #emotesheader { background-color:#70A0B9;color:white; }
footer { color:#fff;text-shadow: 2px 2px 2px #222c8d; }
footer a { color:#fff; }
footer a:hover { color: #FCEC7B !important;text-decoration:none; }
.btn_whisperuser_a, .btn_whisperuser_a:hover { color:white; }
.btn_ignoreuser_a, .btn_ignoreuser_a:hover { color:red; }
.btn_taguser_a, .btn_taguser_a:hover { color:#CBDFF3; }
.btn_viewprofile_a, .btn_viewprofile_a:hover  { color:#D6EACE; }
.btn_whisperuser_d, .btn_ignoreuser_d, .btn_taguser_d, .btn_viewprofile_d  { color:#B8D0DC;pointer-events: none;cursor: default; }
.btn_whisperuser_d:hover, .btn_ignoreuser_d:hover, .btn_taguser_d:hover, .btn_viewprofile_d:hover { color:#B8D0DC; }
.closebutton { color:red;background:white; }
#sendbuttons { opacity:0.8; }
@media only screen and (max-width : 750px) {
	#chatnicklistbg { background:#70A0B9; }
	.navbar-collapse li { border-bottom:1px solid #355B74; }  
}
