body { background-color:#D64300; }
#logoholder { background:-webkit-gradient(linear,0 0,0 100%,from(#F98336),to(#D64300));background:-moz-linear-gradient(0% 0 270deg,#F98336,#D64300);background:linear-gradient(#F98336,#D64300);background:-o-linear-gradient(#F98336,#D64300);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F98336', endColorstr='#D64300'); }
#headerlogo { text-shadow: 2px 2px 2px #000;color:#fff; }
#headertop { background-color:transparent; }
#headernav ul { background-color:#17384F; }
#headernav ul li a { color:white;font-weight:bold;text-decoration:none; }
#headernav ul li a:hover { background-color:#285E83; }
.navbar-default { background:#D65A10;border-top:1px solid #F07005;border-bottom:1px solid #F07005; }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {color: #FDF1EA;}
.navbar-collapse .navbar-right li a:hover { background:transparent; } 
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background:#D64300;}
.navbar-default .navbar-toggle .icon-bar {background: white;}
.lvuitemlbMe { background: transparent;color:white !important;}
.lvuitemlbMeSel { background: transparent;color:white !important; }
#nicklistinfo1 { color:white;background:transparent; }
#nicklistinfo1 a { color:white; }
#nicklistinfo2 { background:transparent;color:white; }
.channame_nowchatting { color:white; }
.chanlabel { color:#E8F0F7;font-weight:bold; }
#wndSetAwayMsgContainer { background:#D64300;border:1px solid #000; }
.awaymsgabouttext { color:#FFF; }
.awayicon_a { color:white !important;border:1px solid #ccc;background:#D65A10;padding:0 2px; }
.awayicon_a:hover { color:white; }
.awayicon_b { color:#1163CB !important;border:1px solid #1163CB;background:#fff;padding:0 2px; }
.awayicon_b:hover { color:white; }
#whisperheader { background:#D64300; }
#sliderContent {color:#333333;border:2px solid #285E82; }
#topheaderbar { background-color:#285E82;color:white; }
#whisperhistoryheader { background-color:#D64300; }
.whisperwindowholder { background-color:#D64300; }
.whisperclosebutton { color:red;background:white; }
.whisperminusbutton { color:#4CBAD8;background:white; }
.whisperclosebuttonb { color:red;background:white; }
#optionsheader, #modesheader, #accessheader, #propsheader, #emotesheader { background:#D64300;color:white; }
footer { color:white; }
footer a { color:white !important; }
footer a:hover { color: #E8F0F7 !important;text-decoration:none; }
.btn_whisperuser_a, .btn_whisperuser_a:hover { color:white;text-shadow: 1px 1px 1px #000; }
.btn_ignoreuser_a, .btn_ignoreuser_a:hover { color:red;text-shadow: 1px 1px 1px #000; }
.btn_taguser_a, .btn_taguser_a:hover { color:#CBDFF3;text-shadow: 1px 1px 1px #000; }
.btn_viewprofile_a, .btn_viewprofile_a:hover  { color:#D6EACE;text-shadow: 1px 1px 1px #000; }
.btn_whisperuser_d, .btn_ignoreuser_d, .btn_taguser_d, .btn_viewprofile_d  { color:#FF6B24;pointer-events: none;cursor: default;text-shadow: 1px 1px 1px #000; }
.btn_whisperuser_d:hover, .btn_ignoreuser_d:hover, .btn_taguser_d:hover, .btn_viewprofile_d:hover { color:#FF6B24;text-shadow: 1px 1px 1px #000; }
#snowflake { display:none; }
#themeextra { display:none; }
.closebutton { color:red;background:white; }
#awayb a { color:white; }
#awayb a:hover { color:#CCC; }
#icbg { display:none; }
@media only screen and (max-width : 750px) {
	#chatnicklistbg { background:#D64300; }
	.navbar-collapse li { border-bottom:1px solid #E16011; }  
}
